# **1- Conhecendo os dados**

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
import datetime

In [3]:
arquivo_excel = pd.ExcelFile("/content/drive/MyDrive/PortfoÃÅlio/dunnhumby _Breakfast-at-the-Frat/dunnhumby - Breakfast at the Frat.xlsx")

In [16]:
#extraindo as abas

lojas = pd.read_excel(arquivo_excel, sheet_name='dh Store Lookup', header=1, index_col='STORE_ID')
lojas.head()

                  STORE_NAME ADDRESS_CITY_NAME  ... Unnamed: 13  Unnamed: 14
STORE_ID                                        ...
389               SILVERLAKE          ERLANGER  ...         NaN          NaN
2277      ANDERSON TOWNE CTR        CINCINNATI  ...         NaN          NaN
4259           WARSAW AVENUE        CINCINNATI  ...         NaN          NaN
6379                KINGWOOD          KINGWOOD  ...         NaN          NaN
6431            AT WARD ROAD           BAYTOWN  ...         NaN          NaN

[5 rows x 14 columns]

In [17]:
produtos = pd.read_excel(arquivo_excel, sheet_name='dh Products Lookup', header=1, index_col='UPC')
produtos.head()

                         DESCRIPTION   MANUFACTURER  ... Unnamed: 13 Unnamed: 14
UPC                                                  ...
1111009477    PL MINI TWIST PRETZELS  PRIVATE LABEL  ...         NaN         NaN
1111009497         PL PRETZEL STICKS  PRIVATE LABEL  ...         NaN         NaN
1111009507         PL TWIST PRETZELS  PRIVATE LABEL  ...         NaN         NaN
1111035398  PL BL MINT ANTSPTC RINSE  PRIVATE LABEL  ...         NaN         NaN
1111038078  PL BL MINT ANTSPTC RINSE  PRIVATE LABEL  ...         NaN         NaN

[5 rows x 14 columns]

In [18]:
vendas = pd.read_excel(arquivo_excel, sheet_name='dh Transaction Data', header=1, index_col='WEEK_END_DATE')
vendas.head()

               STORE_NUM         UPC  ...  Unnamed: 13  Unnamed: 14
WEEK_END_DATE                         ...
2009-01-14           367  1111009477  ...          NaN          NaN
2009-01-14           367  1111009497  ...          NaN          NaN
2009-01-14           367  1111009507  ...          NaN          NaN
2009-01-14           367  1111035398  ...          NaN          NaN
2009-01-14           367  1111038078  ...          NaN          NaN

[5 rows x 14 columns]